/* ==== BASE & RESET ==== */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  padding-top: 0px;
  line-height: 1.6;
}